form.user-settings {
    label {
      display: block;
    }
    input {
      width: 100%;
    }
  
    button {
      background: $aabc-red;
      width: 20%;
      padding: 0.5rem 0.75rem;
      border: none;
      color: $aabc-white;
      @include transition(0.2s all ease-in-out);
      &:hover {
        background: darken($aabc-red, 10%);
        cursor: pointer;
      }
    }
  }
  
  .settings {
    float: left;
    width: 85%;
    padding: 2rem;
    h1 {
      border-bottom: 1px solid $aabc-light-grey;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
    }
    div.user-pic-container {
      position: relative;
    }
    img.profile-pic {
      max-width: 150px;
      border-radius: 50%;
      top: 0;
      left: 0;
  
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
  
      &:hover > span {
        display: block;
      }
    }
  
    span {
      display: none;
      position: absolute;
      bottom: 22px;
      left: 18px;
      color: $aabc-white;
      background: $aabc-dark-blue;
      padding: 0.5rem;
    }
  }
  