.app-container {
   width: 100%;
   max-width: 100%;
   @include make-container();
}

.app-row {
   @include make-row();
}

.app-content-container {
   background: #f9f9f9;
   @include make-col-ready();
   @include make-col(10);
   @include float-left();
   padding: 0;
}
