.selected-check-off-song {
   @include make-col-ready();
   @include make-col(5);
   @include float-left();
   margin: 2rem;
   padding: 2rem;
   background: $aabc-white;
   border: 1px solid $aabc-light-grey;
   border-radius: 10px;
   @include box-shadow(0px 5px 10px rgba(#ccc, 0.2));
}

form.active-song-feedback-form {
   padding: 2rem 0;

   .success,
   .errors {
      margin-bottom: 1.5rem;
   }

   .error {
      color: red;
   }

   .success {
      color: green;
   }

   label {
      margin-bottom: 0.25rem;
      font-family: $aabc-pt-sans-narrow;
      font-weight: 800;
      color: $aabc-cold-grey;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 0.8rem;
   }

   input,
   textarea {
      margin-bottom: 1rem;
      border: 1px solid $aabc-light-grey;
      //   @include box-shadow(0px 5px 10px rgba(#ccc, 0.2))
      width: 100%;
      display: block;
      font-family: $aabc-pt-sans-narrow;
      font-weight: 700;
      color: $aabc-cold-grey;
      padding: 0.5rem;

      &:focus {
         outline: 1px solid $aabc-red;
      }
   }

   .send-feedback-button {
      background: $aabc-red;
      border-radius: 40px;
      padding: 0.5rem 0.75rem;
      color: $aabc-white;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $aabc-pt-sans-narrow;
      font-weight: 800;
      margin-top: 2rem;
      text-align: center;
      max-width: 150px;
      @include transition(0.2s all ease-in-out);
      cursor: pointer;

      &:hover {
         background: $aabc-dark-blue;
      }
   }
}
