.current-user-name {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  color: #aaa;
  font-weight: 900;
  margin-bottom: 0;
}

.current-user-part {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #ccc;
}

$base-line-height: 24px;
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
