section.search-bar {
   @include make-col(12);
   padding: 2rem 3rem;
   form.search-bar-input {
      width: 100%;
      input {
         width: 100%;
         padding: 0.5rem;
         border: none;
         border-bottom: 1px solid $aabc-light-grey;
         font-family: $aabc-pt-sans-narrow;
         font-weight: 800;
         font-size: 2rem;
         color: $aabc-light-grey;
         background: transparent;

         &:focus {
            outline: none;
         }
      }
   }
}

.form-inline {
   .form-control {
      width: 100% !important;
   }
}

.filter-bar {
    margin-top: 1rem;
    .results-found {
        font-family: $aabc-pt-sans-narrow;
        font-size: 1.25rem;
        color: $aabc-cool-grey;
        @include make-col(6);
    @include float-left();
    }

    select {
        @include make-col(6);
        @include float-right();
    }
}
