// Colors
$aabc-gold: #9e9465;
$aabc-cold-grey: #333;
$aabc-cool-grey: #666;
$aabc-light-grey: #ddd;
$aabc-red: #A9171C;
$aabc-dark-blue: #1F222A;
$aabc-white: #fff;
$aabc-completed-green: #2ECC71;
// Break Points
$screen-xs: 520px;
$screen-sm: 640px;
$screen-md: 720px;
$screen-lg: 1024px;
$screen-xlg: 1248px;
$screen-xxlg: 1440px;

// Fonts
$aabc-crimson-text: 'Crimson Text', sans-serif;
$aabc-pt-sans-narrow: 'PT Sans Narrow', sans-serif;
$aabc-dancing-script: 'Dancing Script', cursive;

