$brand-grey: #b7b7b7;
$brand-dark-grey: #5e5e5e;
$brand-blue: #00aaff;
$brand-pink: #ed3352;
$brand-black: #2c2c2c;
$brand-light-grey: #c7cacc;
$brand-white: #ffffff;

// Break Points
$screen-xs: 520px;
$screen-sm: 640px;
$screen-md: 720px;
$screen-lg: 1024px;
$screen-xlg: 1248px;
$screen-xxlg: 1440px;

//Fonts
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Roboto Slab', serif;
$font-tertiary: 'Roboto', sans-serif;
