nav.dashboard-menu {
   border-bottom: 1px solid $aabc-light-grey;
   @include make-container();
   ul {
      background: lighten($aabc-light-grey, 10%);
      margin-bottom: 0;
      @include make-row();
      li {
         @include make-col-ready();
         @include make-col(3);
         @include float-left();
         padding: 0;
         a {
            font-family: $aabc-pt-sans-narrow;
            font-weight: 900;
            padding: 1rem 2rem;
            display: block;
            color: $aabc-cold-grey;
            text-align: center;
            i {
               padding-right: 5px;
            }

            &:hover {
               background: lighten($aabc-light-grey, 5%);
               text-decoration: none;
            }

            &.active {
               background: $aabc-light-grey;
               text-decoration: none;
            }
         }
      }
   }
}
