.part-comparison {
   @include make-row();

   .part-graphs {
      @include make-col(12);
      @include float-left();
      padding: 2rem;

      .part {

        .part-name {
            font-family: $aabc-pt-sans-narrow;
            font-weight: 800;
            font-size: 1.5rem;
            color: $aabc-cool-grey;
            margin-top: 2rem;
        }
         .part-percentage-bar {
            width: 100%;
            height: 50px;
            background: #eee;
            position: relative;
            .part-percentage {
               height: 50px;
               width: 0px;
               @include transition(0.8s all cubic-bezier(0.23, 1, 0.32, 1));
               .percentage-container {
                  position: relative;
                  height: 100%;
                  width: 100%;
                  .percentage {
                     @include center-align;
                     color: $aabc-white;
                     font-family: $aabc-pt-sans-narrow;
                     font-weight: 800;
                     font-size: 2rem;
                     letter-spacing: 5px;
                     text-transform: uppercase;
                  }
               }
            }
         }
      }
   }
}
