ul.user-details {
  padding: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;

  .completion-percentage,
  .songs-remaining {
    margin-bottom: 0.5rem;
    font-family: $aabc-pt-sans-narrow;
    font-size: 0.9rem;
    font-weight: normal;
    span {
      font-weight: 800;
      text-transform: uppercase;
      font-family: $aabc-pt-sans-narrow;
      letter-spacing: 1px;
      color: $aabc-cool-grey;
    }
  }

  .completion-percentage-bar,
  .songs-remaining-percentage-bar {
    width: 100%;
    background: $aabc-light-grey;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    .completion,
    .remaining {
      background: $aabc-completed-green;
      height: 10px;
      border-radius: 5px;
      width: 0;
      @include transition(0.8s all ease-in-out);
    }
  }
}
