.checkoff-part-leader-bar {
   @include make-row();
   .checkoff-menu-bar {
      background: $aabc-light-grey;
      padding: 1rem;
      @include make-col(12);
      float: right;
      .part-info {
         width: 100%;
         .part-leader-avatar,
         .part-leader-name,
         .part-leader-part {
            display: inline-block;
            padding: 0 0.4rem;
            font-family: $aabc-pt-sans-narrow;
            font-weight: 900;
         }

         .part-leader-avatar {
            margin-left: 3rem;
            img {
               max-width: 30px;
               border-radius: 50%;
            }
         }
      }
   }
}

.checkoff-members {
   @include make-row();
   margin: 2rem;
   .part-members {
      margin: 2rem 0;
      @include make-col(3);
      float: left;
      .member {
         text-align: center;
         border-radius: 5px;
         padding: 2rem;
         margin: 1rem 0;
         box-shadow: 0px 0px 5px $aabc-light-grey;

         img {
            max-width: 100px;
            border-radius: 50%;
         }
      }
   }

   .active-check-off-member {
      @include make-col(9);
      float: right;
   }
}
